<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="yellow">
<from action="./calculator">
    <center>
        <h1>
            enter fno:<input type="text" name="t1"><br>
            enter sno:<input type="text" name="t2"><br>
            <input type="submit" value="add">
            <input type="submit" value="sub">
            <input type="submit" value="mul">
            <input type="submit" value="div">
        </h1>
    </center>
</from>
</body>
</html>